html
  head
    block head
      link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
      link(rel='stylesheet', href='/css/main.css')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap')
      script(src='https://code.jquery.com/jquery-3.5.1.min.js' integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=' crossorigin='anonymous')
      script(src='/js/client.js')
      script(src='/js/Chart.bundle.js')
      title EZBET | #{title}
  body
    section#header
      div.container-fluid
        div.wrapper
        
          block header
            div#tabs
              ul
                li(class=(title === 'Home' ? 'current' : ''))
                  a(href='/') Home
                li(class=(title === 'History' ? 'current' : ''))
                  a(href='/history') History

            div#portfolio
              a.ezbet-btn(href='/portfolio') Portfolio
              p.ezbet-balance= '€ ' + balance.toString()
        
    section#content
      div.container-fluid
        div.wrapper
          
          block content
            div.row.h-100.home-columns
              div.col-lg-4
                div#match-list
                  block matchList
                    h5 Today
                    if Object.keys(matchesBettingDataHistoryToday['today']).length === 0 && matchesBettingDataHistoryToday['today'].constructor === Object
                      p No more matches today
                    each match in matchesBettingDataHistoryToday['today']
                      div(class='match-tease' data-matchid=`${match.matchID}` onclick='showMatchDetails('+`${match.matchID}`+')')
                        div.match-tease--team
                          img(src=match.team1.logo)
                          div.match-tease--team--info
                            h5= match.team1.name
                            span= match.bettingData.ezBetOdds.toFixed(2)
                        div.match-tease--date
                          - var matchDate = new Date(match.date).toLocaleTimeString()
                          span= matchDate.replace(/:\d+ /, ' ')
                        div.match-tease--team
                          div.match-tease--team--info
                            h5= match.team2.name
                            span= (1 - match.bettingData.ezBetOdds).toFixed(2)
                          img(src=match.team2.logo)

                    h5 Tomorrow
                    if Object.keys(matchesBettingDataHistoryToday['tomorrow']).length === 0 && matchesBettingDataHistoryToday['tomorrow'].constructor === Object
                      p No more matches tomorrow
                    each match in matchesBettingDataHistoryToday['tomorrow']
                      div(class='match-tease' data-matchid=`${match.matchID}` onclick='showMatchDetails('+`${match.matchID}`+')')
                        div.match-tease--team
                          img(src=match.team1.logo)
                          div.match-tease--team--info
                            h5= match.team1.name
                            span= match.bettingData.ezBetOdds.toFixed(2)
                        div.match-tease--date
                          - var matchDate = new Date(match.date).toLocaleTimeString()
                          span= matchDate.replace(/:\d+ /, ' ')
                        div.match-tease--team
                          div.match-tease--team--info
                            h5= match.team2.name
                            span= (1 - match.bettingData.ezBetOdds).toFixed(2)
                          img(src=match.team2.logo)

              
              div.col-lg-8
                div#match-detail-wrapper
                  block matchDetail
                    each match in matchesBettingDataHistoryToday['today']
                      div(class='match-detail' data-matchid=`${match.matchID}`)
                        div.match-add-portfolio
                          input(id=match.matchID + '.' + match.team1.name, type="radio", name="team", value=match.team1.name)
                          label(for=match.matchID + '.' + match.team1.name)= match.team1.name
                          input(id=match.matchID + '.' + match.team2.name, type="radio", name="team" value=match.team2.name)
                          label(for=match.matchID + '.' + match.team2.name)= match.team2.name
                          input(id=match.matchID + '.betAmount', type="number", name="betAmount", value="20")
                          a.ezbet-btn(onclick='addSelectedMatchToPortfolio('+ match.matchID +', "' + match.team1.name +'", "'+ match.team2.name +'");') Add

                        div.match-detail--head.row.justify-content-center.text-center
                          div.col-md-4
                            img(src=match.team1.logo)
                            h3= match.team1.name
                          div.match-detail--head--info.col-md-3
                            h5 Today
                            - var matchDate = new Date(match.date).toLocaleTimeString()
                            h1= matchDate.replace(/:\d+ /, ' ')
                          div.col-md-4
                            img(src=match.team2.logo)
                            h3= match.team2.name

                    each match in matchesBettingDataHistoryToday['tomorrow']
                      div(class='match-detail' data-matchid=`${match.matchID}`)
                        div.match-add-portfolio
                          input(id=match.matchID + '.' + match.team1.name, type="radio", name="team", value=match.team1.name)
                          label(for=match.matchID + '.' + match.team1.name)= match.team1.name
                          input(id=match.matchID + '.' + match.team2.name, type="radio", name="team" value=match.team2.name)
                          label(for=match.matchID + '.' + match.team2.name)= match.team2.name
                          input(id=match.matchID + '.betAmount', type="number", name="betAmount", value="20")
                          a.ezbet-btn(onclick='addSelectedMatchToPortfolio('+ match.matchID +', "' + match.team1.name +'", "'+ match.team2.name +'");') Add

                        div.match-detail--head.row.justify-content-center.text-center
                          div.col-md-4
                            img(src=match.team1.logo)
                            h3= match.team1.name
                          div.match-detail--head--info.col-md-3
                            h5 Tomorrow
                            - var matchDate = new Date(match.date).toLocaleTimeString()
                            h1= matchDate.replace(/:\d+ /, ' ')
                          div.col-md-4
                            img(src=match.team2.logo)
                            h3= match.team2.name
                  
